<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Eagle+Lake" rel="stylesheet">
    <title><%= content_for?(:title) ? yield(:title) : "The Works of Jim Gibson" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--<%= render :partial => 'layouts/google_analytics' %>-->
  </head>
  <div class="row heading">
    <div class="columns">
      <h1>The Collected Writings of <br/>Jim Gibson</h1>
    </div>
    <div class="row">
      <div class="header-button"><a href="home"><p>Home</p></a></div>
      <div class="header-button"><a href="about"><p>About</p></a></div>
      <div class="header-button"><a href="appeal"><p>An Appeal to Reason</p></a></div>
      <div class="header-button"><a href="mailto:jgibson1948@yahoo.com"><p>Contact</p></a></div>
    </div>
  </div>

  <body>

    <%= yield %>

  </body>
  <br/>

  <div class="footer row">
    <div class="small-12 medium-12 large-12 columns">
      <a href="home">Home</a>&nbsp;-&nbsp;<a href="about">About</a> - <a href="appeal">An Appeal To Reason</a>&nbsp;-&nbsp;<a href="mailto:jgibson1948@yahoo.com">Contact</a>
      <br/>
      Copyright &copy; 2017 Jim Gibson. All Rights Reserved.
      <br/>
      <!-- Start of SimpleHitCounter Code -->
      <div align="center"><a href="http://www.simplehitcounter.com" target="_blank">
        <img src="http://simplehitcounter.com/hit.php?uid=2321333&f=16777215&b=0" border="0" height="18" width="83"
             alt="web counter"></a><br><a href="http://www.simplehitcounter.com" target="_blank"
                                          style="text-decoration:none;"></a></div>
      <!-- End of SimpleHitCounter Code -->
      <br/>
    </div>

  </div>
</html>
