<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "The Works of Jim Gibson" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

  </body>
  <br/>
  <div class="footer row">
    <div class="small-12 medium-12 large-12 columns">
      <a href="home">Home</a>&nbsp;-&nbsp;<a href="appeal">An Appeal To Reason</a>&nbsp;-&nbsp;<a href="mailto:jgibson1948@yahoo.com">Contact</a>
      <br/>
      Copyright &copy; 2017 Jim Gibson. All Rights Reserved.
      <br/>
      <br/>
    </div>

  </div>
</html>
